extends layout

block content
  hr
  div(class="container")
    div(class="row")
      div(class="col-sm")
        input#txtname(class="form-control", type="text", name="txtname", placeholder="Name")
      div(class="col-sm")
        input#txtemail(class="form-control", type="email", name="txtemail", placeholder="Enter email id")
      div(class="col-sm")
        input#txtphone(class="form-control", type="tel", name="txtphone", placeholder="Enter phone no")
    div(class="row")
      div(class="col-sm-2 mt-4")
        input#btnsavecontact(class="btn btn-primary form-control", type="submit", value="Save Contact")

  hr
  table(class='table')
    thead
      tr
        th #
        th Name
        th Email
        th Phone No
    tbody
      for contact,index in contacts
        tr
          th= index
          td= contact.name
          td= contact.email
          td= contact.phone
    