doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    
    
  body
    div#myalert(class="alert alert-danger alert-fixed d-none", data-alert="alert")
      strong Error in saving contact
  
    nav(class='navbar navbar-dark bg-info')
      a(class='navbar-brand' href="#") Contact Book
    
   
    
    block content
  script(src="/app/app.js")
